body {
	font-family:Tahoma;
    margin:0; 
	padding: 0;
	min-width:930px;
}
html{ 
    height:100%;
    font-size: 100%;
}
.header
{
	margin:16px auto 0 auto;
	max-width:930px;
	min-width:930px;
 	height:100px;
}
.header_new_height
{
	height:140px;
}
.logo_region
{
	float:left;
	width:284px;
}

.logo
{
	background:transparent url('../img/1000/logo.png') no-repeat;
	height:95px;
	width:237px;
}
.logo_click
{
	height:95px;
	width:237px;
}
.logo_text
{
	font-family:Tahoma;
	font-size:9px;
	margin:-19px 0 0 31px;
	color:#290f04;
	width:170px;
	height:15px;
	text-align:center;
	overflow:hidden;
}
.logo a:hover,.logo a:visited
{
	text-decoration: none;
	color:#290f04;
}

.menu ul li
{
	float:left;
	margin:25px 0 0 47px;
}
.menu ul li a 
{
	font-size:15px;
	line-height:18px;
	font-family:Tahoma;
	color:#962d00;
	text-decoration: underline;
}
.menu ul li a:hover
{
	text-decoration: none;
}
.menu ul li a:visited
{
	color:#962d00;
}
.menu ul li.menu_first_out
{
	margin-left:0px;
}
.under_menu_delim
{
	background:transparent url('../img/1000/under_menu_delim.png') no-repeat;
	height:22px;
	width:323px;
	position: absolute;
	margin:-25px 0 0 303px;
}
.under_menu_delim_new
{
	background:transparent url('../img/1000/header_delim_new.png') no-repeat;
	height:69px;
	width:416px;
	position: absolute;
	margin:-34px 0 0 256px;
}
.text_new_delim_header
{
	font-family:Arial;
	font-size:14px;
	line-height:17px;
	color:#646464;
}
.text_new_delim_header a
{
	text-decoration:none;
	color:#646464;
}
.text_new_delim_header a:visited
{
	color:#646464;
}
.center_new_header_text
{
	margin:19px 0 0 0px;
	text-align:center;
}
.text_new_delim_header span.orange
{
	color:#ff7700;
}
.text_new_delim_header a:hover span.orange
{
	color:#e00202;
}
.text_new_delim_header a:hover 
{
	color:#333333;
}


.contacts
{
	float:right;
	width:195px;
	font-family:Arial;
	font-size:11px;
	line-height:21px;
	color:#000;
	text-align:right; 
	font-style: italic;
}
.contacts span
{
	font-size:14px;
}
.content
{
	margin:33px auto 0 auto;
}
.content_top_text
{
	font-family: Georgia;
	font-size:15px;
	line-height:21px;
	color:#000;
	font-style:italic;
	text-align:center;
	margin:0 0 28px 366px;
	width:497px;
}
.building
{
	background:transparent url('../img/1000/mebelgrad.png') no-repeat 50% 0%;
	height:540px;
}
.middle_main_pict_left_text
{
	
	margin:-143px 0 0 0;
	font-family: Georgia;
	font-size:14px;
	line-height:21px;
	color:#000;
	font-style:italic;
	text-align:left;
	position:absolute;
	width:430px;
}
.middle_main_pict_right_text
{
	margin:-140px 0 0 -230px;
	font-family: Georgia;
	font-size:14px;
	line-height:21px;
	color:#00;
	font-style:italic;
	text-align:right;
	position:absolute;
	width:230px;
}
.link_floor
{
	position:absolute;
	margin:-251px 0 0 -55px;
	width:50px;
}

.floor_vid_1
{
	opacity:0;
	display:none;
	position:absolute;
	background:transparent url('../img/1000/main_floor.png') no-repeat;
	width:607px;
	background-position:0 0;
	height:106px;
	margin-left:168px;
    margin-top:-413px;
}
.floor_vid_2
{
	opacity:0;
	display:none;
	position:absolute;
	background:transparent url('../img/1000/main_floor.png') no-repeat;
	width:607px;
	background-position:0 -106px;
	height:118px;
	margin-left:168px;
	margin-top:-379px;
}
.floor_vid_3
{
	opacity:0;
	display:none;
	position:absolute;
	background:transparent url('../img/1000/main_floor.png') no-repeat;
	width:607px;
	background-position:0 -222px;
	height:110px;
	margin-left:168px;
	margin-top:-339px;
}
.link_floor li a
{
	font-family: Arial;
	font-size:14px;
	line-height:30px;
	color:#962d00;
	text-decoration:none;
}
.link_floor li a:visited
{
	color:#962d00;
}
.link_floor li a:hover
{
	text-decoration:none;
	color:#e00202;
}
.footer
{
	height:57px;
	margin:0 auto;
	width:930px;
}
.footer_delim_line
{
	background:transparent url('../img/1400/footer_delim_line.png') repeat-x;
	height:1px;
}
.footer_delim_logo
{
	background:#fff url('../img/1000/footer_delim_logo.png') no-repeat;
	margin:-13px auto 0 auto;
	width:167px;
	height:23px;
}
.footer_left, .footer_right
{
	font-family: Arial;
	font-size:12px;
	line-height:18px;
	color:#646464;
}
.footer_left a 
{
	color:#646464;
}
.footer_left a:hover
{
	color:#B10101;
}
.fotter_left_margin_left
{
	margin-left:40px;
}
.fotter_right_margin_right
{
	margin-right:40px;
}
.footer_link_contact a
{
	color:#962d00;
	text-decoration:underline;
}
.footer_link_contact_now
{
	color:#E00202;
}
.footer_link_contact a:hover
{
	color:#962d00;
	text-decoration:none;
}
.footer_link_contact a:visited
{
	color:#962d00;
}
.float_left
{
	float:left;
}
.float_right
{
	float:right;
}
.clear
{
	clear:both;
}
.margin_0_auto
{
	margin:0 auto;
}
.margin_left_0
{
	margin:0;
}
.position_absolute
{
	position: absolute;
}
.position_relative
{
	position: relative;
}
.position_fixed
{
	position: fixed;
}
.width4size
{
	width:930px;
}
#map
{
	position:relative;
	min-height:480px;
	background-color: #888; 
	 margin-bottom:20px;
}
.gmap_sh
{
	background: #000000;
	overflow: hidden;
	position: absolute;
	top: 0px;
	z-index: 2;
	width:5000px;
}
.gm_op1
{
	height:1px;
	opacity: 0.1;
	filter: alpha(opacity = 10);
}
.gm_op2
{
	height:2px;
	opacity: 0.08;
	filter: alpha(opacity = 8);
}
.gm_op3
{
	height:3px;
	opacity: 0.06;
	filter: alpha(opacity = 6);
}
.gm_op4
{
	height:4px;
	opacity: 0.04;
	filter: alpha(opacity = 4);
}
.gm_op5
{
	height:5px;
	opacity: 0.02;
	filter: alpha(opacity = 2);
}
.gm_b_mm1
{
	margin-top:-1px;
}
.gm_b_mm2
{
	margin-top:-2px;
}
.gm_b_mm3
{
	margin-top:-3px;
}
.gm_b_mm4
{
	margin-top:-4px;
}
.gm_b_mm5
{
	margin-top:-5px;
}
.groute
{
	position:absolute;
	border:1px solid #7a838d;
	background-color:#fff;
	height: 107px;
	margin-left: -302px;
	width: 267px;
	z-index: 999;
	padding:15px 12px 15px 21px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
}
.groute .a
{
	background:transparent url('../img/google_a.png') no-repeat 0 3px;
	padding-left: 40px;
	padding-bottom:8px;
}
.groute .b
{
	background:transparent url('../img/google_b.png') no-repeat 0 3px; 
	padding-left: 40px;
	padding-bottom:15px;
}
.groute .travelling-mode
{
	width: 39px; 
	float: left; 
	height: 25px; 
	background-repeat: no-repeat; 
	cursor: pointer;
}
.groute .travelling-mode.walking
{
	background-image: url('../img/google-travelling-mode.png');
	background-position: left bottom;
}
.groute .travelling-mode.driving
{
	margin-left: 10px; 
	background-image: url('../img/google-travelling-mode.png'); 
	background-position: left -25px;
}
.groute .travelling-mode.walking.selected
{
	background-position: left -50px;
}
.groute .travelling-mode.driving.selected
{
	background-position: left top;
}
.groute input[type='text']
{
	width: 222px;
	font-family: Tahoma;
	font-size:16px;
}
.groute_left
{
	position:absolute;
	border:1px solid #7a838d;
	background-color:#fff;
	margin-left: 92px;
	margin-top: -344px;
	padding:10px;
	z-index: 999;
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
    width:328px;
}
.marshrut_button
{
	background: transparent url('../img/marshrut_button.png') no-repeat;
	width:177px;
	height:25px;
	padding:0;
	border:0;
	font-family: Tahoma;
	font-size:16px;
}
.text_decoration_menu_now
{
	text-decoration:none;
	font-size:15px;
	line-height:18px;
	font-family:Tahoma;
	color:#e00202;
}
.disable_menu
{
	color:#eee;
	text-decoration:none;
	font-size:15px;
	line-height:18px;
	font-family:Tahoma;
}
.content_tenants
{
	margin:28px auto 0 auto;
}
.tenants_top_title
{
	font-family: Georgia;
	font-size:24px;
	line-height:24px;
	color:#962d00;
	text-align: center;
}
.tenants_top_razt_after_title
{
	margin:40px 0 0 22px;
}
.tenants_top_text_block_title
{
	font-family: Georgia;
	font-size:19px;
	line-height:21px;
	color:#ff7700;
}
.tenants_top_text_block
{
	font-family: Arial;
	font-size:14px;
	line-height:22px;
	color:#000;
	margin:10px 0 34px 0;
	width:427px;
}
.tenants_top_text_block .not_link_span
{
	color:#962d00;
}

.tenants_top_text_block a
{
	text-decoration:underline;
	color:#962d00;
}
.tenants_top_text_block a:hover
{
	text-decoration:none;
}
.tenants_top_text_block a:visited
{
	color:#962d00;
}
.tenants_top_text_block a.link_dashed
{
	color:#962d00;
	text-decoration:none;
	border-bottom:1px dashed #962d00; 
}
.tenants_top_text_block a.link_dashed:hover
{
	text-decoration:none;
	border-bottom:1px solid transparent;
}
.tenants_top_text_block a.link_dashed:visited
{
	color:#962d00;
}
.tenants_ras_after_text_block
{
	margin-top:50px;
}
.tenants_ras_after_delim
{
	margin-bottom:50px;
}
.tenants_delim
{
	background:transparent url('../img/1000/tenants_delim.png') repeat-x;
	height:1px; 
}
.tenants_first_floor
{
	background:transparent url('../img/1000/first_floor.png') no-repeat;
	width:572px;
	height:516px;
}
.tenants_second_floor
{
	background:transparent url('../img/1000/second_floor.png') no-repeat;
	width:572px;
	height:516px;
}
.tenants_threed_floor
{
	background:transparent url('../img/1000/threed_floor.png') no-repeat;
	width:572px;
	height:516px;
}
.margin_left_27
{
	margin-left:22px;
}
.margin_right_27
{
	margin-right:22px;
}
.margin_left_floors_menu_under_big_building
{
	margin-left:23px;
}
.floor101
{
	top:92px;
	width:65px;
	height:103px;
	position: absolute; 
	left:445px;
}
.floor101_exaption
{
	top:80px;
	width:15px;
	height:12px;
	position: absolute;
	left:495px;
}
.floor102
{
	top:247px;
	width:64px;
	height:47px;
	position: absolute;
	left:445px;
}
.floor103
{
	top:295px;
	width:64px;
	height:47px;
	position: absolute;
	left:445px;
}
.floor104
{
	top:343px;
	width:64px;
	height:47px;
	position: absolute;
	left:445px;
}
.floor105
{
	top:391px;
	width:64px;
	height:48px;
	position: absolute;
	left:445px;
}
.floor106-1
{
	top:26px;
	width:67px;
	height:73px;
	position: absolute;
	left:364px;
}
.floor106-2
{
	top:26px;
	width:44px;
	height:26px;
	position: absolute;
	left:320px;
}
.floor107
{
	top:100px;
	width:67px;
	height:48px;
	position: absolute;
	left:364px;
}
.floor108
{
	top:149px;
	width:67px;
	height:65px;
	position: absolute;
	left:364px;
}
.floor109
{
	top:227px;
	width:67px;
	height:67px;
	position: absolute;
	left:364px;
}
.floor110
{
	top:295px;
	width:67px;
	height:47px;
	position: absolute;
	left:364px;
}
.floor111
{
	top:343px;
	width:67px;
	height:96px;
	position: absolute;
	left:364px;
}
.floor112
{
	top:65px;
	width:96px;
	height:67px;
	position: absolute;
	left:253px;
}
.floor112_exaption_1
{
	top:49px;
	width:21px;
	height:16px;
	position: absolute;
	left:253px;
}
.floor113
{
	top:133px;
	width:83px;
	height:63px;
	position: absolute;
	left:266px;
}
.floor114
{
	top:197px;
	width:83px;
	height:47px;
	position: absolute;
	left:266px;
}
.floor115
{
	top:245px;
	width:83px;
	height:49px;
	position: absolute;
	left:266px;
}
.floor116
{
	top:295px;
	width:83px;
	height:47px;
	position: absolute;
	left:266px;
}
.floor116_exaption
{
	top:311px;
	width:13px;
	height:31px;
	position: absolute;
	left:253px;
}
.floor117
{
	top:343px;
	width:96px;
	height:82px;
	position: absolute;
	left:253px;
}
.floor118
{
	top:216px;
	width:19px;
 	height:15px;
	position: absolute;
	left:465px;
}
.floor119
{
	top:446px;
	width:19px;
 	height:28px;
	position: absolute;
	left:316px;
}

.floor120
{
	top:133px;
	width:12px;
 	height:86px;
	position: absolute;
	left:253px;
}
.floor121
{
	top:220px;
	width:12px;
 	height:90px;
	position: absolute;
	left:253px;
}
.floor201
{
	top:392px;
	width:101px;
	height:51px;
	position: absolute;
	left:327px;
}
.floor202-1
{
	top:344px;
	width:116px;
	height:46px;
	position: absolute;
	left:429px;
}
.floor202-2
{
	top:391px;
	width:116px;
	height:51px;
	position: absolute;
	left:429px;
}
.floor203
{
	top:296px;
	width:116px;
	height:48px;
	position: absolute;
	left:429px;
}
.floor204
{
	top:248px;
	width:116px;
	height:47px;
	position: absolute;
	left:429px;
}
.floor205
{
	top:199px;
	width:116px;
	height:48px;
	position: absolute;
	left:429px;
}
.floor206
{
	top:151px;
	width:116px;
	height:47px;
	position: absolute;
	left:429px;
}
.floor207
{
	top:103px;
	width:116px;
	height:47px;
	position: absolute;
	left:429px;
}
.floor208
{
	top:29px;
	width:47px;
	height:58px;
	position: absolute;
	left:416px;
}
.floor209
{
	top:28px;
	width:35px;
	height:59px;
	position: absolute;
	left:380px;
}
.floor209_exaption
{
	top:53px;
	width:19px;
	height:34px;
	position: absolute;
	left:361px;
}
.floor210-1
{
	top:29px;
	width:66px;
	height:58px;
	position: absolute;
	left:221px;
}
.floor210-2
{
	top:53px;
	width:24px;
	height:34px;
	position: absolute;
	left:287px;
}
.floor211-1
{
	top:29px;
	width:33px;
	height:58px;
	position: absolute;
	left:153px;
}
.floor211-2
{
	top:29px;
	width:33px;
	height:58px;
	position: absolute;
	left:187px;
}
.floor212
{
	top:53px;
	width:114px;
	height:97px;
	position: absolute;
	left:25px;
}
.floor213
{
	top:151px;
	width:114px;
	height:47px;
	position: absolute;
	left:25px;
}
.floor214-1
{
	top:198px;
	width:47px;
	height:50px;
	position: absolute;
	left:92px;
}
.floor214-2
{
	top:198px;
	width:66px;
	height:50px;
	position: absolute;
	left:25px;
}
.floor215
{
	top:281px;
	width:114px;
	height:63px;
	position: absolute;
	left:25px;
}
.floor216
{
	top:345px;
	width:114px;
	height:98px;
	position: absolute;
	left:25px;
}
.floor217
{
	top:392px;
	width:72px;
	height:51px;
	position: absolute;
	left:140px;
}
.floor218
{
	top:392px;
	width:73px;
	height:51px;
	position: absolute;
	left:213px;
}
.floor219
{
	top:296px;
	width:66px;
	height:81px;
	position: absolute;
	left:154px;
}
.floor220
{
	top:296px;
	width:63px;
	height:81px;
	position: absolute;
	left:221px;

}
.floor221-1a
{
	top:198px;
	width:65px;
	height:49px;
	position: absolute;
	left:350px;
}
.floor221-1b
{
    top:248px;
    width:65px;
    height:46px;
    position: absolute;
    left:350px;
}
.floor221-2
{
	top:296px;
	width:64px;
	height:81px;
	position: absolute;
	left:285px;
}
.floor222
{
	top:296px;
	width:65px;
	height:81px;
	position: absolute;
	left:350px;
}
.floor223-a
{
	top:199px;
	width:111px;
	height:43px;
	position: absolute;
	left:154px;
}
.floor223
{
	top:199px;
	width:67px;
	height:96px;
	position: absolute;
	left:282px;
}
.floor223_exaption_2
{
	top:244px;
	width:127px;
	height:51px;
	position: absolute;
	left:155px;
}
.floor224
{
	top:100px;
	width:65px;
	height:98px;
	position: absolute;
	left:350px;
}
.floor225
{
	top:100px;
	width:64px;
	height:98px;
	position: absolute;
	left:285px;
}
.floor226
{
    top:99px;
    width:63px;
    height:98px;
    position: absolute;
    left:221px;
}
.floor227
{
	top:100px;
	width:66px;
	height:98px;
	position: absolute;
	left:154px;
}
.floor228
{
	top:53px;
	width:22px;
	height:34px;
	position: absolute;
	left:327px;
}
.floor229
{
	top:470px;
	width:9px;
	height:9px;
	position: absolute;
	left:297px;
}
.floor230
{
	top:470px;
	width:9px;
	height:9px;
	position: absolute;
	left:279px;
}
.floor301
{
	top:341px;
	width:50px;
	height:31px;
	position: absolute;
	left:268px;

}
.floor302
{
	top:388px;
	width:78px;
	height:50px;
	position: absolute;
	left:319px;
}
.floor303
{
	top:341px;
	width:64px;
	height:31px;
 	position: absolute;
	left:319px;
}
.floor304
{
	top:341px;
	width:116px;
	height:96px;
	position: absolute;
	left:398px;
}
.floor305
{
	top:291px;
	width:116px;
	height:49px;
	position: absolute;
	left:398px;
}
.floor306
{
	top:243px;
	width:116px;
	height:47px;
	position: absolute;
	left:398px;
}
.floor307
{
	top:194px;
	width:116px;
 	height:48px;
	position: absolute;
	left:398px;
}
.floor308
{
	top:145px;
	width:116px;
	height:48px;
	position: absolute;
	left:398px;
}
.floor309
{
	top:99px;
	width:116px;
	height:45px;
	position: absolute;
	left:398px;
}
.floor310
{
	top:98px;
	width:64px;
	height:46px;
	position: absolute;
	left:319px;
}
.floor311
{
	top:145px;
	width:64px;
 	height:48px;
	position: absolute;
	left:319px;
}
.floor312
{
	top:194px;
	width:64px;
	height:48px;
	position: absolute;
	left:319px;
}
.floor313
{
	top:243px;
	width:64px;
	height:47px;
	position: absolute;
	left:319px;
}
.floor314
{
	top:291px;
	width:64px;
	height:49px;
	position: absolute;
	left:319px;
}
.floor315
{
	top:98px;
	width:50px;
	height:46px;
	position: absolute;
	left:268px;
}
.floor316
{
	top:23px;
	width:87px;
	height:55px;
	position: absolute;
	left:296px;
}

.floor317
{
	top:145px;
	width:50px;
 	height:48px;
	position: absolute;
	left:268px;
}
.floor318
{
	top:194px;
	width:50px;
	height:48px;
	position: absolute;
	left:268px;
}
.floor319
{
	top:243px;
	width:50px;
	height:47px;
	position: absolute;
	left:268px;
}
.floor320
{
	top:291px;
	width:50px;
	height:49px;
	position: absolute;
	left:268px;
}
.floor321
{
	top:388px;
	width:43px;
	height:50px;
	position: absolute;
	left:275px;
}
.floor322
{
	top:388px;
	width:52px;
	height:50px;
	position: absolute;
	left:203px;
}
.floor323
{
	top:388px;
	width:99px;
	height:48px;
	position: absolute;
	left:103px;
}
.floor324
{
	top:339px;
	width:108px;
	height:97px;
	position: absolute;
	left:-6px;
}
.floor325
{
	top:290px;
	width:108px;
	height:48px;
	position: absolute;
	left:-6px;
}
.floor326
{
	top:242px;
	width:108px;
	height:47px;
	position: absolute;
	left:-6px;
}
.floor327
{
	top:195px;
	width:108px;
	height:46px;
	position: absolute;
	left:-6px;
}
.floor328
{
	top:145px;
	width:108px;
	height:49px;
	position: absolute;
	left:-6px;
}
.floor329
{
	top:74px;
	width:50px;
	height:70px;
	position: absolute;
	left:-6px;
}
.floor329_exaption
{
	top:48px;
	width:58px;
	height:96px;
	position: absolute;
	left:44px;
}
.floor330
{
	top:23px;
	width:64px;
	height:56px;
	position: absolute;
	left:123px;
}
.floor331
{
	top:23px;
	width:66px;
	height:56px;
	position: absolute;
	left:188px;
}
.floor332-1
{
	top:145px;
	width:66px;
	height:50px;
	position: absolute;
	left:188px;
}
.floor332-2
{
	top:99px;
	width:66px;
	height:45px;
	position: absolute;
	left:188px;
}
.floor333-1
{
	top:242px;
	width:67px;
	height:47px;
	position: absolute;
	left:188px;
}
.floor333-2
{
	top:196px;
	width:46px;
	height:45px;
	position: absolute;
	left:188px;
}
.floor334
{
	top:290px;
	width:67px;
	height:82px;
	position: absolute;
	left:188px;
}
.floor335
{
	top:290px;
	width:64px;
	height:82px;
	position: absolute;
	left:123px;
}
.floor336-1
{
	top:242px;
	width:64px;
	height:47px;
	position: absolute;
	left:123px;
}
.floor336-2
{
	top:196px;
	width:64px;
	height:45px;
	position: absolute;
	left:123px;
}
.floor337-1
{
	top:145px;
	width:64px;
	height:50px;
	position: absolute;
	left:123px;
}
.floor337-2
{
	top:99px;
	width:64px;
	height:45px;
	position: absolute;
	left:123px;
}
.floor338
{
    top:46px;
	width:13px;
	height:33px;
	position: absolute;
	left:255px;
}
.floor_of1
{
	top:47px;
	width:15px;
	height:26px;
	position: absolute;
	left:-6px;
}
.floor_of2
{
	top:47px;
	width:17px;
	height:26px;
	position: absolute;
	left:10px;
}
.floor_of3
{
	top:47px;
	width:15px;
	height:26px;
	position: absolute;
	left:28px;
}
.floor_color_empty
{
	background-color:#feffbb;
	opacity: 0.6;
	filter:alpha(opacity=60);
}
.floor_color_empty .floor_color_empty
{
	opacity: 1;
	filter:alpha(opacity=100);
}
.floor_color_not_empty .floor_color_not_empty
{
	opacity: 1;
	filter:alpha(opacity=100);
}
.floor_color_not_empty
{
	background-color:#eaeaea;
	opacity: 0.6;
	filter:alpha(opacity=60);
}
.buble_text
{
	font-family: Arial;
	font-size:14px;
	line-height:16px;
}
.little_buble
{
	background:transparent url('../img/1000/little_buble.png') no-repeat;
	height:67px;
	width:187px;
	display: none;
	position: absolute;
}
.big_buble
{
	background:transparent url('../img/1000/big_buble.png') no-repeat;
	height:91px;
	width:187px;
	display: none;
	position: absolute;
}
.height_little_buble
{
	height:50px;
}
.height_big_buble
{
		height:75px;
}
.style_img_buble
{
	height:30px;
	margin-bottom:3px;
}
.wrapper 
{
	display:table;
}
.cell 
{
	display:table-cell; 
	vertical-align:middle;
}
.buble_pos101
{
	left:600px;
	top:120px;
}
.space_rent_right_buiding
{
	background:transparent url('../img/1000/space_rent_right_buiding.png') no-repeat;
	height:102px;
	width:279px;
	margin-top:39px;
}
.display_none
{
	display:none;
}
.display_block
{
	display:block;
}
.space_rent_right_buiding_floor_vid_1
{
position: absolute;
background:transparent url('../img/1000/space_rent_right_buiding_floor.png') no-repeat;
width:279px;
background-position: 0 0;
height:36px;
}
.space_rent_right_buiding_floor_vid_1_in
{
position: absolute;
background:transparent url('../img/1000/space_rent_right_buiding_floor.png') no-repeat;
width:279px;
background-position:-279px 0;
height:36px;
}
.space_rent_right_buiding_floor_vid_2
{
position: absolute;
background:transparent url('../img/1000/space_rent_right_buiding_floor.png') no-repeat;
width:279px;
background-position:0 -34px;
height:37px;
margin-top:34px;
}
.space_rent_right_buiding_floor_vid_2_in
{
position: absolute;
background:transparent url('../img/1000/space_rent_right_buiding_floor.png') no-repeat;
width:279px;
background-position:-279px -34px;
height:37px;
margin-top:34px;
}
.space_rent_right_buiding_floor_vid_3 
{
position: absolute;
background:transparent url('../img/1000/space_rent_right_buiding_floor.png') no-repeat;
width:279px;
background-position:0 -71px;
height:40px;
margin-top:53px;
}
.space_rent_right_buiding_floor_vid_3_in
{
position: absolute;
background:transparent url('../img/1000/space_rent_right_buiding_floor.png') no-repeat;
width:279px;
background-position:-279px -71px;
height:40px;
margin-top:53px;
}
.space_rent_floor_menu
{
	font-family: Arial;
	font-size:14px;
	line-height:16px;
}
.space_rent_floor_menu .this_is_floor_first
{
	color:#f00202;
	margin-left:10px;
}

.space_rent_floor_menu .this_is_floor, .space_rent_floor_menu >div
{
	color:#f00202;
	margin-left:19px;
}
.space_rent_floor_menu .margin_left_7
{
	margin-left:0px;
}
.space_rent_floor_menu a
{
	text-align:center;
	text-decoration:none;
	color:#962d00;
	border-bottom:1px dashed #962d00;
}
.space_rent_floor_menu a:hover
{
	border-bottom:1px solid transparent;
}
.space_rent_empty_or_not_icon_block
{
	margin:20px 0;
	font-family: Tahoma;
	font-size:15px;
	line-height:25px;
}
.space_rent_not_empty_icon
{
	background:transparent url('../img/1000/space_rent_empty_or_not_icon.png') no-repeat 0 0;
	width:200px;
	height:26px;
	padding-left:40px;
	margin-bottom:11px; 
}
.space_rent_empty_icon
{
	background:transparent url('../img/1000/space_rent_empty_or_not_icon.png') no-repeat 0 -26px;
	width:200px;
	height:26px;
	padding-left:40px;
}
.arrow_up_down_floor
{
	margin-top: -3px;
	font-size:16px;
	line-height:16px;
}
.width_449
{
	width:280px;
}
.width_778
{
	width:551px;
}
.margin_bottom_35
{
	margin:0px 0 35px 0;
}
.margin_bottom_0
{
	margin-bottom:0;
}
.space_rent_photo
{
	background:transparent url('../img/1000/space_rent_empty_or_not_icon.png') no-repeat;
	width:136px;
	height:34px;
	padding-left:33px;
	margin-top:-5px;
	background-position:0 -52px;
}
.space_rent_photo:hover
{
	cursor:pointer;
}
.space_rent_photo_text
{
	color:#962d00;
	font-family: Tahoma;
	font-size:15px;
	line-height:25px;
	border-bottom:1px dashed #962d00;
}
.space_rent_photo_text:hover
{
	border:none;
	cursor: pointer;
}
.arendators_block
{
	margin:0px 0 37px 0;
	background-color:#ffe4cc;
}
.before_arendators_block_height
{
	height:41px;
}
.arendators_block_padding
{
	padding:18px 24px 0 24px;
}
.arendators_title
{
	font-family: Georgia;
	font-size:18px;
	line-height:23px;
	color:#ff4800;
	margin-bottom:13px;
}
.arendators_text_link >div
{
	width:277px;
	float:left;
}
.arendators_text_link >div .budet_link, .arendators_text_link >div .budet_link a
{
	font-family:Tahoma;
	font-size:15px;
	line-height:19px;
	color:#962d00;
	text-decoration:underline;
}
.arendators_text_link > div .budet_link:hover, .arendators_text_link >div .budet_link a:hover
{
	text-decoration:none;
}
.position_0_bottom
{
	background-position: 0 bottom;
}
.height_18
{
	height:23px;
}
.height_visit_category_tovarov
{
	height:10px;
}
.width_for_mpty_not_icon_padding_0_m_min_35
{
	width:26px;
	padding:0;
	margin:2px 1px;
}
.margin_left_7
{
	margin-left:7px;
}
.width_0
{
	width:0;
}
.padding_0
{
	padding:0;
}
.color_hover_pomesh
{
	background-color:#a5eaea;
}
.floor_color_ralative_coord_floor_1
{
	top:1px;
	left:33px;
}
.floor_color_ralative_coord_floor_2
{
	top:-1px;
	left:2px;
}
.floor_color_ralative_coord_floor_3
{
	top: 4px;
	left:31px;
}
.content_buble
{
	text-align:center;
	width:186px;

	vertical-align: middle;
}
.background_color_transparent
{
	background-color:transparent;
}

.galery_back
{
	z-index: 9998;
	opacity:0.5;
	filter:alpha(opacity=50);
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	background: #666 url(../img/gal_back.png) 50% 50% repeat;
	
}
.width_100_perc
{
	width: 100%;
}
.z_index_9999
{
	z-index: 9999;
}

.photo-block 
{
width: 1079px;
height: 741px;
background-color: #fff;
z-index: 1001;
padding: 39px;
}
.photo-block .tip 
{
width: 100%;
bottom: 7px;
font: 10px Arial, sans-serif;
color: #A0A0A0;
position: absolute;
text-align: center;
}
.photo-block #photo-container 
{
position: relative;
top: 23px;
overflow: hidden;
width: 1079px;
height: 741px;
}
.photo-block #photo-wrapper 
{
margin-left: 0;
width: 1079px;
height: 741px;
text-align: left;
}
.visitors_block_otstup
{
	margin:41px 0 44px 0;
}
.visitors_block_text_link >div
{
	width:277px;
	float:left;
	min-height:27px;
}
.visitors_block_text_link >div .budet_link a
{
	font-family:Tahoma;
	color:#000;
	font-size:14px;
	line-height:21px;
	text-decoration:none;
}

.visitors_block_text_link >div .budet_link:hover div.visitors_block_text_back_right
{
	display: block;
	background:transparent url('../img/1000/visitors_block_text_back_right.png') no-repeat right center;
}
.visitors_block_text_link >div .budet_link:hover div.visitors_block_text_back_left
{
	background:transparent url('../img/1000/visitors_block_text_back_left.png') no-repeat 0 center;
	display: block;
}
.visitors_block_text_link >div .budet_link :hover .visitors_block_text_back 
{
	text-decoration:none;
}
.visitors_block_text_link >div .budet_link:hover .visitors_block_text_back
{
	background:transparent url('../img/1000/visitors_block_text_back.png') repeat-x 0 top;
	background-position:0 -30px;
}
.visitors_block_text_back
{
	background:none;
	height:22px;
	padding-left: 4px;
}
.visitors_block_text_back_in
{
	background:transparent url('../img/1000/visitors_block_text_back_in.png') repeat-x 0 top;
	padding-left: 4px;
	font-family:Tahoma;
	color:#fff;
	font-size:15px;
	line-height:20px;
	height:22px;
}

.visitors_block_text_back_left
{
	background:none;
	height:22px;
	padding-left: 16px; 
	margin-left: 3px;
	
}
.visitors_block_text_back_left_in
{
	background:transparent url('../img/1000/visitors_block_text_back_left_in.png') no-repeat 0 center;
	height:22px;
	padding-left: 16px;
	margin-left: 3px;
}
.visitors_block_text_back_right
{
	background:none;
	height:22px;
	padding:0 11px 0 0;
}
.visitors_block_text_back_right_in
{
	background:transparent url('../img/1000/visitors_block_text_back_right_in.png') no-repeat right center;
	height:22px;
	padding:0 11px 0 0;
}
.text_align_right
{
	text-align: right;
}
.visitors_plus_minus
{
	background:transparent url('../img/1000/visitors_plus_minus.png') no-repeat;
	height:22px;
	width:22px;
	margin:28px 18px 0 9px;
}
.visitors_plus_minus:hover
{
	cursor:pointer;
}
.visitors_plus_minus_back_pos_25
{
	background-position:0 -22px;
}
.visitors_block, .visitors_block_without_max_block
{
	height:84px;
}
.visitors_block:hover, .visitors_block_without_max_block:hover
{
	background-color:#fff2cc;
}
.visitors_block:hover .emblem_size
{
	background-color:#fff2cc;
}
.vis_all_block
{
	margin:30px 0 80px 0;
}
.emblem_size
{
	height:56px;
	width:168px;
	margin:14px 25px 14px 0;
	text-align:center;
}
.emblem_size_without_plus
{
	height:56px;
	width:168px;
	margin:14px 25px 14px 48px;
	text-align: center;
}
.emblem_size_razvern
{
	width:168px;
	margin:18px 20px 0 0;
	text-align:center;
}
.visitors_phone
{
	font-family: Tahoma;
	font-size:13px;
	line-height:15px;
	color:#000;
	width:285px;
	text-align:right;
}
.visitors_phone_other
{
	font-family: Tahoma;
	font-size:14px;
	line-height:25px;
	color:#000;
	width:145px;
	text-align:right;
}
.height_zero
{
	height:auto;
}

.visitors_block .visitors_max_block
{
	background-color:#fff2cc;
}

.background_color_fff2cc
{
	background-color:#fff2cc;
}
.visitors_min_block_firma
{
	font-family: Tahoma;
	font-size:15px;
	line-height:17px;
	color:#962d00;
}
.vis_min_block_top_right_min_block
{
	padding:30px 15px 0 0;
}
.vis_min_block_top_right
{
	padding:30px 15px 0 0;
}
.padding_right_30
{
	padding-right:15px;
}
.width_max_vis_block
{
	width:778px;
}
.width_max_vis_block_text_and_photos_only
{
	width:572px;
	margin-bottom:21px;
}
.max_vis_bloxk_title
{
	font-family:Georgia;
	font-size:21px;
	line-height:23px;
	height:37px;
}
a.visitors_min_block_site
{
	font-family: Tahoma;
	font-size:15px;
	line-height:29px;
	color:#962d00;
	text-decoration: underline;
}
a.visitors_min_block_site:hover
{
	text-decoration: none;
}
a.visitors_min_block_site:visited
{
	color:#962d00;
}
.visit_category_color_font
{
	color:#962d00;
}
.visitors_max_block_category
{
		width:367px;
}
.visitors_max_block_category a,.razpolozhenie_na_etazhe
{
	font-family: Tahoma;
	font-size:14px;
	line-height:23px;
	color:#962d00;
	border-bottom:1px dashed #962d00;
	text-decoration:none;
}
.visitors_hide_all_show_all span
{
	font-family: Tahoma;
	font-size:14px;
	line-height:21px;
	color:#962d00;
	border-bottom:1px dashed #962d00;
	text-decoration:none;
}
.visitors_max_block_category a:hover,.visitors_hide_all_show_all span:hover,.razpolozhenie_na_etazhe:hover
{
	text-decoration:none;
	cursor:pointer;
	border-bottom:1px dashed transparent;
}
.visitors_max_block_category a:visited
{
	color:#962d00;
}
.visitors_max_block_description
{
	margin:29px 0 0 0;
	font-family: Arial;
	font-size:14px;
	line-height:20px;
	color:#000;
}
.vis_max_block_photos
{
	border:1px solid #ff7f0f;
	margin-top:17px;
	width:177px;
	height:118px;
}
.vis_max_block_photos_margin_left
{
	margin-left:17px;
}
.vis_max_block_photos img:hover
{
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}
.razpolozhenie_na_etazhe
{
	margin:9px 0;
}
.button_close_gal
{
	background:transparent url('../img/1000/close_gal.png') no-repeat;
	width:16px;
	height:16px;
	margin:-19px 0 0 5px;
}
.button_close_gal:hover
{
	cursor:pointer;
	background-position:0 -16px;
}
.visitors_in_what_floor
{
	top: 50%;
	left: 50%;
	margin-top:-236px;
	margin-left:-285px;
}
.opacity_0_6
{
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
.back_and_padding_visit_floor_gal
{
	background-color:#fff;
	padding:2px 2px 2px 2px;
}
.border_solid_b0aeae
{
	border:1px solid #b0aeae;
}
.esc_gal
{
	text-align:center;
	font-family: Verdana;
	font-size:11px;
	line-height:25px;
	color:#7d7979;
	font-style:italic;
}
.margin_top_10
{
	margin-top:10px;
}
.margin_top_minus_gal_navig_text
{
	margin-top:-12px;
}
.visit_floor_galery
{
	width:574px;
	height:480px;
}
.galery_floors_shadow
{
	-webkit-box-shadow: #000 0px 3px 28px 3px;
    box-shadow: #000 0px 3px 28px 3px;
    -moz-box-shadow:  #000 0px 3px 28px 3px;
}
.height_for_floor_gal_visit_flo
{
	height:481px;
}
.close_floor_gal
{
	background:transparent url('../img/1000/close_gal_floor.png') no-repeat ;
	width:11px;
	height:71px;
	margin:209px 0 0 -15px;
}
.close_floor_gal:hover
{
	cursor:pointer;
	background-position:-11px 0;
}
.photo_gallery
{
	width:687px;
	height:458px;
}
.back_and_padding_photo_gallery
{
	background-color:#fff;
	padding:25px  75px 25px 75px;
}
.gall_position
{
	top: 50%;
	left: 50%;
	margin-top:-252px;
	margin-left:-419px;
}
.gal_arrow
{
	background:transparent url('../img/1000/gal_arrow.png') no-repeat center 0;
	width:65px;
	height:23px;
	margin:25px 5px;
}
.gal_arrow_height_
{
	height:69px;
}
.gal_arrow_left
{
	background-position:center 0;
	left: 0px;
}
.gal_arrow_left:hover
{
	cursor:pointer;
}
.gal_arrow_left:hover .gal_arrow
{
	background-position:center -23px;
}
.gal_arrow_right
{
	right: 0px;
}
.gal_arrow_right_pos
{
	background-position:center -46px;
}
.gal_arrow_right:hover
{
		cursor:pointer;
}
.gal_arrow_right:hover .gal_arrow
{
	background-position:center -69px;
}
.top_right_arrow,.top_left_arrow
{
	margin-top:197px;
}

#for-map img
{
	float:left;
}
#mainImg
{
	position:absolute;
}
#tempImg
{
	position:absolute;
}
.esc_out
{
	background:transparent url('../img/1000/esc_out.png') no-repeat;
	width:16px;
	height:67px;
	margin:414px 0 0 -18px;
}
.overflow_hidden
{
	overflow:hidden;
}

#count
{
	text-align:center;
	font-family: Tahoma;
	font-size:15px;
	line-height:25px;
	width:687px;
	margin-top:-25px;
}
.close_photos_gal
{
	background:transparent url('../img/1000/close_gal_floor_verti.png') no-repeat center 0;
	width:75px;
	height:71px;
	margin:0px 0 0 0px;
}
.close_photos_gal:hover
{
	cursor:pointer;
	background-position:center -71px;
}
.err_width_center
{
	width:852px;
}
.after_err_height
{
	height:85px;
}
.err_text
{
	font-family: Georgia;
	font-size:54px;
	line-height:63px;
	font-style: italic;
	font-weight: bold;
	color:#b10000;
	float:left;
	margin:45px 0 0 59px;
}
.err_text .underfined
{
	font-family: Georgia;
	font-size:23px;
	line-height:29px;
	font-style: italic;
	color:#737373;
	font-weight: 400;
}
.chair_error
{
	background:transparent url('../img/1000/chair_error.png') no-repeat center 0;
	width:410px;
	height:265px;
	float:right;
}
.fsize_icon
{
	background:transparent url('../img/1000/4size.png') no-repeat ;
	width:35px;
	height:17px;
	margin:0px 0 0 15px;
}
.fsize_icon:hover
{
	opacity:0.5;
	filter:alpha(opacity=50);
}
.abz
{
	margin:6px 0 0 0;
}
.abz a
{
	font-family: Georgia;
	font-size:10px;
	line-height:13px;
	font-style: italic;
	color:#c0c0c0;
	text-decoration: none;
}
.abz a:hover
{
	text-decoration:none;
	color:#B10101;
}
.margin_4size
{
	margin:-25px 0 0 -99px;
	width:99px;
}
.margin_top_min_etaj_and_photo_etaja
{
	margin-top:-101px;
}
.preloader
{
	background:transparent url('../img/1000/loading.gif') no-repeat;
	width:687px;
	height:458px;
	z-index:-1; 
	opacity:0.3;
	filter:alpha(opacity=30);
	background-position:center center;
}
.special_margin_top_for_spacerent_room_empty_number
{
	margin-top:20px;
}
#button_up
{
	left: 50%;
	margin-left:-122px;
	width:201px;
	z-index: 9997;
	position:relative;
	padding:10px 20px;
	background-color:#fcfcfb;
	border:1px solid #e0e0e0;
	border-top:none;
	-webkit-box-shadow: #000 0px 0px 13px -1px;
	box-shadow: #000 0px 0px 13px -1px;
	-moz-box-shadow: #000 0px 0px 13px -1px;
}
.button_fixed_text
{
	margin-left:10px;
	font-family: Georgia,Arial;
	font-size:19px;
	line-height:21px;
	color:#962D00;
	border-bottom: 1px dotted #962D00;
}
#button_up.position_fixed 
{
    position:fixed; 
}
#button_up:hover
{
	cursor: pointer;
	background-color:#fff;
	
}
#button_up:hover .button_fixed_text
{
	border-bottom: 1px dotted transparent;
	color:#ff7700;
}
.button_up_triangle
{
	background:transparent url('../img/1000/arrow.png') no-repeat;
	width:22px;
	height:22px;
}
.padding_top_button_fixed
{
	padding-top:0px;
}
.bus_pict,.taxi_pict
{
	background: transparent url('../img/bus.png') no-repeat;
	width:32px;
	height:32px;
	float:left;
}
.taxi_pict
{
	background: transparent url('../img/taxi.png') no-repeat;
}
.contacts_left_block
{
	font-family:Tahoma,Arial;
	font-size:16px;
	line-height:24px;
	font-weight: bold;
	color:#000;
}
.contacts_left_block_italic
{
	font-family:Arial;
	font-size:14px;
	line-height:25px;
	font-style:italic;
	color:#000;
}
.width_contacts_marshrut_li
{
	width:464px;
	margin-bottom:28px;
}
.width_contacts_marshrut
{
	width:395px;
}
.margin_contacts_mar_left_icon_text
{
	margin-left:12px;
}
.contacts_ul_margin_top
{
	margin-top:30px;
}
.marshruts_center
{
	margin: 0 auto;
	max-width:930px;
	min-width:930px;
}
.white_space_nowrap
{
	white-space: nowrap;
}
